.lunch-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.lunch-container img{
    height: 200px;
    margin-bottom: 15px;
}

.align-items{
    text-align: center;
    padding: 20px 0 20px 0px;
    transition: all .3s ease;
}

.align-items:hover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
}