.lunches img {
    width: 200px;
}
.lunches {
    margin-top: 50px;
    
}

.item {
    padding: 1%;
    cursor: pointer;
    text-align: center;
    float: left;
    height: 330px;
    transition: all .4s ease;
}

.item:hover {
    box-shadow: 3px 3px 10px lightgray;

}

.item p{
    color: gray;
}

.detail {
    margin-top: 5%;
}