.top-size {
    margin-top: 5%;
    height: 600px;
    line-height: 2rem;
}

.gray {
    color: gray;
}

.h1-size {
    font-size: 3rem;
}

.h2-size {
    font-weight: 500;
    display: inline;
}

.addBtn {
    padding: 5px 30px;
    border: none;
    background: red;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    outline: none;
}

.addBtn:hover{
    background: #d83838;  
    color: #fff; 
}

.itemCount {
    padding: 5px 30px;
    margin-left: 30px;
    font-size: 25px;
    border: 1px solid gray;
    border-radius: 50px;
    text-align: center;
    color: #000;
    display: inline;
}

.minusBtn {
    cursor: pointer;
    font-weight: 200;
    font-size: 45px;
    margin-right: 10px;
}

.plusBtn {
    cursor: pointer;
    font-weight: 200;
    font-size: 45px;
    margin-left: 10px;
}