.navbar {
    z-index: 5;
}

.navbar-brand img{
    height: 45px;
}

.list {
    list-style: none;
}

.list li {
    display: inline-block;
    margin: 0 5px;
}

.signUpBtn {
    border: none;
    border-radius: 40px;
    padding: 3px 15px;
    color: white;
}

.signInBtn {
    border: none;
    border-radius: 40px;
    padding: 5px 15px;
    padding-bottom: 5px;
    color: white;
}

.signInBtn:hover {
    text-decoration: none;
    color: white;
}