.check-btn{
    background: #CECECE;
    padding: 5px;
    width: 300px;
    margin: 50px 0 50px 0;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.check-btn:active {
   background: gray;
}

.check-btn:focus {
    outline: none;
    border: none;
}

.cursor  {
    cursor: no-drop !important;
}